<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .unorder {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }
        
        .unorder .listing {
            display: inline;
            letter-spacing: 0.5px;
            font-size: 1.5rem;
            padding-right: 100px;
        }
    </style>
</head>

<body>
    <ul class="unorder">
        <li class="listing"><a href="/home">Home</a></li>
        <li class="listing"><a href="/product/info">product</a></li>
        <li class="listing"><a href="/abt">Contact</a></li>
        <li class="listing"><a href="/product/add_to_cart">Cart</a></li>

    </ul>
</body>

</html>