<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="../css/main.css">
</head>

<body>

    <%- include ('./includes/nav.ejs') -%>


        <%  if (products.length > 0 ) {%>


            <li>
                <%= `You have ${products.length} products in cart` %>
            </li>



            <ul>
                <% for (let temp of products)  {%>

                    <li>
                        <%= temp %>
                    </li>


                    <% } %>
            </ul>
            <a href="/product/info"> Want to add more </a>
            <br>
            <a href="/product/clear_cart"> Clear Cart </a>

            <% } else{ %>

                <h1>No products here </h1>
                <a href="/product/info"> Add  products </a>


</body>

<% } %>



</html>